@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

header {
  width: 100%;
  height: 500px;
  background-color: #311e02;
}

.newsletter {
  background-color: #cf723e;
  padding: 10px 0;

  .form-control {
    width: 300px;
    margin: 0 10px;
  }

  .btn-newlestter {
    background-color: #FBB321;
    border-color: #FBB321;
    color: black;
  }
}

.principal {
  background-color: #FBB321;
  color: black;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0;

  .principal1 {
    font-size: 32px;
    font-weight: 700;
  }

  .principal2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .principal3 {
    font-size: 18px;
  }

}

.block {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;

  h2 {
    margin: 20px 0;
    font-size: 32px;
    font-weight: 700;
  }

  p {
    margin: 16px 0;
    font-size: 17px;
  }

  ul {
    padding: 0 20px;

    li {
      font-size: 17px;
    }
  }

}

.gray {
  background-color: #e5e5e5;
}

.white {
  background-color: white;
}

.medias {
  background-color: black;
  padding: 50px 0;
  width: 100%;

  .col-xs-6 {
    padding: 10px;
  }

  img {
    width: 100%;

  }
}

.alert {
  margin-bottom: 0;
}